
 *{
  margin: 0%;
  padding: 0%;
  font-family: "meiryo";
} 

.btn_Top{
	position: absolute; right: 0px; top: 0px;
	right:10px;
	top:10px;
}

.btn_Insert {
  color: #000;
  width: 100px;
  height: 40px;
  margin: 15px;
  background-color: #ddedfc;
  border-bottom: 5px solid #bdddf7;
  font-size: 20px;
}

.btn_Update {
  color: #000;
  width: 100px;
  height: 40px;
  margin: 15px;
  background-color: #c3f5bc;
  border-bottom: 5px solid #5df04a;
  font-size: 20px;
}

.btn_Delete {
  color: #000;
  width: 100px;
  height: 40px;
  margin: 15px;
  background-color: #f0867e;
  border-bottom: 5px solid #e73956;
  font-size: 20px;
}

.btn_Clear {
  color: #000;
  width: 100px;
  height: 40px;
  margin: 15px;
  background-color: #f0f5c0;
  border-bottom: 5px solid #f8fa75;
  font-size: 20px;
}

.btn_Return {
  color: #000;
  width: 100px;
  height: 40px;
  margin: 15px;
  background-color: #da69f7;
  border-bottom: 5px solid #da69f7;
  font-size: 20px;
}

.btn_MainMenu {  
  color: rgb(168, 194, 235);
  width: 120px;
  height: 50px;
  margin: 20px;
   
  background-color: #606155;  
  font-size: 15px;
  text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.CustomerPhoto {
  display: flex;
  margin : 30px ;
  flex-direction: column;
  align-items: center;
}
